name: CI

on:
  push:
    branches:
      - master
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  pull_request:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        py: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
      - uses: actions/checkout@v5
      - uses: extractions/setup-just@v3
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.py }}
      - run: uv sync
      - run: just check-all

  pypi-publish:
    if: github.ref_type == 'tag'
    runs-on: ubuntu-latest
    needs: tests
    permissions:
      id-token: write
      contents: write
    environment: pypi
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
      - run: uv build
      - run: uv publish
      - uses: softprops/action-gh-release@v2
